{% extends "layout.html" %} {% block content %}
<style>
	@media print {
		body * {
			visibility: hidden;
			font-family: Arial, Helvetica, sans-serif;
		}

		.letter-container,
		.letter-container * {
			visibility: visible;
		}

		.letter-container {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 2cm;
		}

		#print-btn,
		.no-print {
			display: none;
		}
	}

	.letter-container {
		font-family: Arial, Helvetica, sans-serif;
		width: 21cm;
		min-height: 29.7cm;
		padding: 1.5cm;
		/* font-family: "Georgia", serif; */
		font-size: 12pt;
		line-height: 1.6;
		color: #333;
		background: #fff;
		margin: 0 auto;
		box-sizing: border-box;
	}

	.letter-header {
		display: flex;
		line-height: 1.2;
		justify-content: space-between;
		margin-bottom: 2em;
		text-align: center;
		margin-left: 20px;
		flex-direction: column;
		position: relative;
	}

	.logo {
		position: absolute;
		left: 0;
		top: 0;
		width: 100px;
		height: auto;
	}

	.letter-date {
		text-align: right;
		color: #555;
	}

	.institution-letterhead {
		font-weight: bold;
		font-size: 11pt;
		color: #2c3e50;
		text-align: center;
		margin-bottom: 0px;
	}

	.institution-address {
		font-size: 11pt;
		text-align: center;
		margin-bottom: 5px;
	}

	.institution-contact {
		font-size: 8pt;
		text-align: center;
		color: #555;
		margin-bottom: 5px;
	}

	.institution-member {
		font-size: 9pt;
		text-align: center;
		font-style: italic;
		color: #555;
	}

	.recipient-block {
		margin-bottom: 2em;
		line-height: .3;
		font-family: Arial, Helvetica, sans-serif;
	}

	.subject-line {
		font-weight: bold;
		margin: 1.5em 0;
		color: #2c3e50;
		font-size: 13pt;
	}

	.reference-line {
		font-style: italic;
		margin-bottom: 1.5em;
		color: #555;
	}

	.letter-body p {
		text-align: justify;
		margin-bottom: 1.2em;
	}

	.letter-body .indent {
		text-indent: 2em;
	}

	.letter-body .issue {
		margin-left: 2em;
		margin-bottom: 1.2em;
		padding-left: 1em;
		border-left: 2px solid #e0e0e0;
	}

	.signature-block {
		margin-top: 4em;
	}

	.signature-space {
		height: 60px;
		margin-bottom: 5px;
	}

	.signature-name {
		border-top: 1px solid #ccc;
		width: 300px;
		padding-top: 5px;
	}

	.letter-footer {
		margin-top: 3em;
		font-size: 10pt;
		text-align: center;
		color: #666;
		padding-top: 1.5em;
	}

	.print-btn-container {
		text-align: center;
		margin: 20px 0;
	}

	#print-btn {
		background: #2c3e50;
		color: white;
		border: none;
		padding: 10px 25px;
		border-radius: 4px;
		font-size: 14px;
		cursor: pointer;
		transition: all 0.3s;
	}

	th,
	td {
		border-color: black;
	}

	#print-btn:hover {
		background: #1a252f;
	}

	table {
		width: 100%;
		border-collapse: collapse;
		margin-top: 1.5em;
	}

	th,
	td {
		border: 1px solid #333;
		padding: 8px 10px;
		text-align: left;
		vertical-align: top;
	}

	thead {
		background-color: #f4f4f4;
	}
</style>

<div id="let_bod" class="letter-container">
{{ history_content.body|safe }}
</div>


{% endblock %}
