{% extends "base.html" %} {% block title %}Edit Folder | Data Center{% endblock %} {% block content %}

<div class="d-flex align-items-center justify-content-between p-3 my-3 text-white bg-purple rounded shadow-sm">
	<div class="lh-1">
		<h1 class="h6 mb-0 text-white lh-1">View Folder</h1>
		<small>List of students inside this Folder</small>
	</div>
	<a href="{% url 'registrar:add_student_to_folder' folder.id %}" class="btn btn-light"> <i class="bi bi-person-plus me-1"></i> Add Student </a>
</div>

<!-- Students Table -->
{% if students %}
<div class="my-3 p-3 bg-body rounded shadow-sm">
	<!-- Section Header -->
	<div class="d-flex align-items-center mb-3">
		<i class="bi bi-people-fill fs-4 me-2 text-primary"></i>
		<h6 class="mb-0">Students in this Folder</h6>
	</div>

	<!-- Table -->
	<div class="table-responsive">
		<table class="table table-hover table-striped align-middle">
			<thead class="table-primary">
				<tr>
					<th>#</th>
					<th>Last Name</th>
					<th>First Name</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for student in students %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ student.last_name }}</td>
					<td>{{ student.first_name }}</td>
					<td>
						<a href="{% url 'registrar:remove_student_from_folder' student.id %}" class="btn btn-danger btn-sm"> <i class="bi bi-x-circle me-1"></i> Remove From this Folder </a>
						<a href="" class="btn btn-warning btn-sm"> <i class="bi bi-pencil me-1"></i> Move to folder </a>

                    </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% else %}
<div class="my-3 p-3 bg-body rounded shadow-sm text-center text-muted">
	<i class="bi bi-info-circle me-1"></i>
	No students are currently assigned to this folder.
</div>
{% endif %} {% endblock %}
