{% extends "layout.html" %} {% block content %}

<div class="card shadow-sm border-0">
     <div class="card-header py-3" style="background-color: #2c3e50; color: white">
          <h3 class="mb-0">
               <i class="bi {% if applicant %}bi-pencil-square{% else %}bi-person-plus{% endif %} me-2"></i>
               {{ 'Update Applicant' if applicant else 'Create New Applicant' }}
          </h3>
     </div>
     <div class="card-body">
          <form method="post" class="row g-4">
               <div class="col-md-6">
                    <label class="form-label fw-semibold">Full Name</label>
                    <div class="input-group">
                         <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                         <input type="text" name="fullname" class="form-control"
                              value="{{ applicant.fullname if applicant else '' }}" required />
                    </div>
               </div>

               <div class="col-md-6">
                    <label class="form-label fw-semibold">Program ID</label>
                    <div class="input-group">
                         <span class="input-group-text"><i class="bi bi-journal-bookmark-fill"></i></span>

                         <select name="program_id" id="" class="form-control" required>
                              <option value="" selected disabled>Select Program</option>                              
                              {% for prog in programs %}
                              <option value="{{ prog.program_id }}">{{ prog.program_name }} {{ prog.major }}</option>
                              {% endfor %}
                         </select>

                         <!-- <input type="text" name="program_id" 
                              value="{{ applicant.program_id if applicant else '' }}" required /> -->
                    </div>
               </div>
               <!-- 
               <div class="col-md-6">
                    <label class="form-label fw-semibold">Major</label>
                    <div class="input-group">
                         <span class="input-group-text"
                              ><i class="bi bi-mortarboard-fill"></i
                         ></span>
                         <input
                              type="text"
                              name="major"
                              class="form-control"
                              value="{{ applicant.major if applicant else '' }}"
                              required
                         />
                    </div>
               </div> -->

               <div class="col-md-6">
                    <label class="form-label fw-semibold">Contact Number</label>
                    <div class="input-group">
                         <span class="input-group-text"><i class="bi bi-telephone-fill"></i></span>
                         <input type="text" name="contact_number" class="form-control"
                              value="{{ applicant.contact_number if applicant else '' }}" required />
                    </div>
               </div>

               <div class="col-md-6">
                    <label class="form-label fw-semibold">Email</label>
                    <div class="input-group">
                         <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                         <input type="email" name="email" class="form-control"
                              value="{{ applicant.email if applicant else '' }}" required />
                    </div>
               </div>

               <div class="col-md-6">
                    <label class="form-label fw-semibold">Year Graduated</label>
                    <div class="input-group">
                         <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                         <input type="date" name="email" class="form-control"
                              value="{{ applicant.email if applicant else '' }}" required />
                    </div>
               </div>

               <!-- 
               <div class="col-md-6">
                    <label class="form-label fw-semibold">SO Number</label>
                    <div class="input-group">
                         <span class="input-group-text"
                              ><i class="bi bi-file-earmark-text-fill"></i
                         ></span>
                         <input
                              type="text"
                              name="SO"
                              class="form-control"
                              value="{{ applicant.SO if applicant else '' }}"
                              required
                         />
                    </div>
               </div> -->

               <div class="col-12 mt-4 pt-3 border-top">
                    <button type="submit" class="btn btn-primary px-4">
                         <i class="bi bi-save-fill me-2"></i> Save
                    </button>

                    <!-- <a href="/delete/{{ applicant.id }}" class="btn btn-sm px-3"
                         style="background-color: #e74c3c; color: white"
                         onclick="return confirm('Delete this applicant?');">
                         <i class="bi bi-trash me-1"></i> Delete
                    </a> -->

                    <a href="{{ url_for('applicants.index') }} " class="btn btn-outline-secondary px-4">
                         <i class="bi bi-x-circle-fill me-2"></i> Cancel
                    </a>
               </div>
          </form>
     </div>
</div>

<style>
     .form-control,
     .input-group-text {
          height: 42px;
     }

     .input-group-text {
          background-color: #f8f9fa;
          border-right: none;
     }

     .form-control {
          border-left: none;
     }

     .form-control:focus {
          box-shadow: none;
          border-color: #ced4da;
     }
</style>

<div class="accordion" id="requirementAccordion">
     {% for req in requirements %}
     <div class="accordion-item">
          <h2 class="accordion-header" id="heading{{ loop.index }}">
               <button class="accordion-button {% if not loop.first %}collapsed{% endif %}" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}">
                    {{ loop.index }}. {{ req.doc_name }}
               </button>
          </h2>

          <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#requirementAccordion">
               <div class="accordion-body">
                    {% if req.deficiencies %}
                    <li class="list-group-item">
                         <h2>{{ req.doc_name }} - Deficiency Cases</h2>
                    </li>

                    <ul class="list-group">
                         {% for d in req.deficiencies %}

                         <div class="card mb-3 border-secondary">
                              <div class="card-header bg-success">
                                   <strong style="color: white">Case #{{ loop.index }}</strong>
                              </div>
                              <div class="card-body">
                                   <div class="mb-3">
                                        <h6 class="card-subtitle mb-1 text-muted">
                                             Description :
                                        </h6>
                                        <p class="card-text">
                                             <u>{{ d.description or 'No
                                                  description provided' }}</u>
                                        </p>
                                   </div>

                                   <div class="mb-3">
                                        <h6 class="card-subtitle mb-1 text-muted">
                                             Severity:
                                        </h6>
                                        {% if d.severity == 'Critical' %}
                                        <span class="badge bg-danger">Critical</span>
                                        {% elif d.severity == 'High' %}
                                        <span class="badge bg-warning">High</span>
                                        {% elif d.severity == 'Medium' %}
                                        <span class="badge bg-secondary">Medium</span>
                                        {% elif d.severity == 'Low' %}
                                        <span class="badge bg-success">Low</span>

                                        {% else %}
                                        <span class="badge bg-secondary">N/A</span>
                                        {% endif %}
                                   </div>

                                   <div class="mb-3">
                                        <h6 class="card-subtitle mb-1 text-muted">
                                             Recommended Solution:
                                        </h6>
                                        <p class="card-text">
                                             <u>{{ d.resolution_statement or
                                                  'No solution provided' }}</u>
                                        </p>
                                   </div>

                                   <div class="d-flex justify-content-end">
                                        <button class="btn btn-sm btn-outline-primary me-2">
                                             View Details
                                        </button>
                                        <a class="btn btn-sm btn-danger"
                                             href="http://127.0.0.1:5000/applicant_deficiencies/insert/{{d.id}}/{{applicant.id}}"
                                             onclick="return confirm('Are you sure you want to add this case?')">Select
                                             Case</a>
                                   </div>
                              </div>
                         </div>
                         {% endfor %}
                    </ul>
                    {% else %}
                    <p class="text-success">
                         No deficiencies reported for this document.
                    </p>
                    {% endif %}
               </div>
          </div>
     </div>
     {% endfor %}
</div>

{% endblock %}